body{
  background-color: rgb(39, 39, 177);
}
.App {
  text-align: center;
}

.Sect-Login{
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
  height: 200px;
  width: 250px;
  margin-left: 45%;
  margin-top: 20%;
}
.btb-Login:hover{
  background-color: rgb(177, 247, 177);
}